input
{
  height: 400px;
  width: 300px;
  font-size: 1em;
  border-radius: 15px;
}

.NameGars {
    font-weight: 700;
}

form {
    background-color: white;
    height: 500px;
    position: relative;
}

.title{
    position: relative;
    left: 30px;
}

.form {
    position: relative;
    top: -250px;
    left: 550px;
    background-color: white;
    width: 40%;
    height: 550px;
    border-radius: 13px;
}

.fermer {
    position: relative;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.523);
    border-color: rgba(128, 128, 128, 0.225);
    width: 120px;
    height: 50px;
    top: -70px;
    left: -75px;
}

.conf {
    position: relative;
    border-radius: 10px;
    background-color: rgba(115, 180, 91, 0.523);
    border-color: rgba(95, 195, 89, 0.458);
    width: 120px;
    height: 50px;
    top: -70px;
    left: 75px;
}